<!DOCTYPE html>
<html ng-app="cdcApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="icon"
          href="/img/favicon.png"
          type="image/ico"/>
    <link href="https://plus.googlecom/108540024862647200608"
          rel="publisher"/>
    <title>Livros de Java, SOA, Android, iPhone, Ruby on Rails e
        muito mais - Casa do Código</title>
    <link href="/css/site/cssbase-min.css"
          rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'
          rel='stylesheet'/>
    <link
            href="/css/site/fonts.css"
            rel="stylesheet" type="text/css" media="all"/>
    <link
            href="/css/site/fontello-ie7.css"
            rel="stylesheet" type="text/css" media="all"/>
    <link
            href="/css/site/fontello-embedded.css"
            rel="stylesheet" type="text/css" media="all"/>
    <link
            href="/css/site/fontello.css"
            rel="stylesheet" type="text/css" media="all"/>

    <link
            href="/css/site/style.css"
            rel="stylesheet" type="text/css" media="all"/>

    <link
            href="/css/site/layout-colors.css"
            rel="stylesheet" type="text/css" media="all"/>
    <link
            href="/css/site/responsive-style.css"
            rel="stylesheet" type="text/css" media="all"/>
    <link rel="canonical" href="http://www.casadocodigo.com.br/"/>

    <link href="/css/site/book-collection.css"
          rel="stylesheet" type="text/css" media="all"/>
</head>
<body class="home">
    <header id="layout-header">
        <div class="clearfix container">
            <a href="/" id="logo">
                <img src="/img/logo.png" alt="Casa do Codigo">
            </a>

            <div id="header-content">
                <nav id="main-nav">

                    <ul class="clearfix">
                        <li><a href="/cart" rel="nofollow">Seu carrinho</a></li>

                        <li><a href="/pages/sobre-a-casa-do-codigo" rel="nofollow">Sobre</a></li>

                        <li><a href="/pages/perguntas-frequentes" rel="nofollow">Perguntas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <nav class="categories-nav">
        <ul class="container">
            <li class="category"><a href="http://www.casadocodigo.com.br">Home</a></li>
            <li class="category"><a href="/collections/livros-de-agile">
                    Agile </a></li>
            <li class="category"><a href="/collections/livros-de-front-end">
                    Front End </a></li>
            <li class="category"><a href="/collections/livros-de-games">
                    Games </a></li>
            <li class="category"><a href="/collections/livros-de-java">
                    Java </a></li>
            <li class="category"><a href="/collections/livros-de-mobile">
                    Mobile </a></li>
            <li class="category"><a
                        href="/collections/livros-desenvolvimento-web"> Web </a></li>
            <li class="category"><a href="/collections/outros"> Outros </a></li>
        </ul>
    </nav>
    <!-- inicio da listagem em si-->
    <section id="index-section" class="container middle" ng-controller="HomeController">

        <ul id="home-highlight-collection">
            <%for(i=0; i<livros.length; i++) {%>
            <li class="col-left">
                <a href="linkDetalhe" class="block clearfix">
                    <img width="170" height="240" src="/img/capa-livro-nodejs.png" alt="<%=livros[i].titulo%>" title="<%=livros[i].titulo%>"/>

                    <h2 class="product-title"><%=livros[i].titulo%></h2>
                    <small class="buy-button">Lançamento!</small>
                </a>
            </li>
            <%}%>
        </ul>


        <h1 class="cdc-call">Últimos dias com os preços promocionais.
            Aproveite!</h1>

        <ul class="clearfix book-collection">
            <%for(i=0; i<livros.length; i++) {%>
                <li>
                    <a href="linkDetalhe" class="block clearfix">
                        <h2 class="product-title"><%=livros[i].titulo%></h2>
                        <img width="143"
                             height="202"
                             src="/img/capa-livro-nodejs.png"
                             alt="<%=livros[i].titulo%>"
                             title="<%=livros[i].titulo%>"/>

                        <small class="buy-button">Compre</small>
                    </a>
                </li>
            <%}%>

        </ul>

        <h2 class="cdc-call">Diferenciais da Casa do Código</h2>

        <ul id="cdc-diferenciais" class="clearfix">
            <li class="col-left">
                <h3>E-books sem DRM. Leia onde quiser</h3>

                <p>
                    <span class="sprite" id="sprite-drm"></span> Nossos e-books não
                    possuem DRM, ou seja, você pode ler em qualquer computador, tablet
                    e smartphone.
                </p>
            </li>
            <li class="col-right">
                <h3>Autores de renome na comunidade</h3>

                <p>
                    <span class="sprite" id="sprite-renome"></span> Autores que
                    participam ativamente na comunidade com Open Source, listas de
                    discussão, grupos e mais.
                </p>
            </li>
            <li class="col-left">
                <h3>Receba atualizações dos e-books</h3>

                <p>
                    <span class="sprite" id="sprite-atualizacoes"></span> Quando você
                    compra um e-book, automaticamente tem direito às atualizações e
                    correções dele.
                </p>
            </li>
            <li class="col-right">
                <h3>Livros com curadoria da Caelum</h3>

                <p>
                    <span class="sprite" id="sprite-caelum"></span> Desenvolvedores
                    experientes que avaliam e revisam os livros constantemente.
                </p>
            </li>
        </ul>


    </section>

    <!-- fim-->
</body>
</html>